 @font-face {
	font-family: 'Noto Kufi Arabic';
	font-style: normal;
	font-weight: 400;
	src: url(/upskilling/resources/fonts/NotoKufiArabic-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Noto Kufi Arabic';
	font-style: normal;
	font-weight: 700;
	src: url(/upskilling/resources/fonts/NotoKufiArabic-Bold.ttf) format('truetype');
}

.ui-widget {
	font-size: 0.95em !important;
	font-family: 'Noto Kufi Arabic', serif;
}

.ui-widget-header {
	border: 1px solid #4297d7;
	background: #8ed7e5;
	color: #000000;
	font-weight: bold;
}

.ui-panel-title {
	margin: 0.1em 0px 0.2em 0 !important;
}

.ui-panel .ui-panel-footer {
	text-align: center !important;
	 background:  #8ed7e5;	
    color: #000000;
}
.ui-widget-content {
	
	border: 1px solid #cccccc;
	color: 222222;
	/*width: fit-content;*/
}

.ui-growl {
	right: 50%;
	margin-right: -150px;
}

.footer {
	background-color: blue;
}

.ui-menu-ar {
	float: right !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 100%;
	margin-bottom: 10px;
}

.ui-menu-ar .ui-menuitem {
	float: right !important;
}

.ui-menu-ar .ui-menuitem-text {
	float: right !important;
}

.ui-menu-ar .ui-menu-child {
	top: 25 px;
	right: 0;
}

.ui-menu-ar .ui-menuitem-icon {
	float: right !important;
}

.ui-menu-en {
	float: left !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 100%;
	margin-bottom: 10px;
}

.ui-menu-en .ui-menuitem {
	float: left !important;
}

.ui-menu-en .ui-menuitem-text {
	float: left !important;
}

 .ui-menu-en .ui-menu-list .ui-menuitem {
	border: 0;
	/* direction: ltr !importanat
	float : left !important; */
} 

.ui-menu-en .ui-menuitem-icon {
	float: left !important;
} 